.post {
    background-color: red;
    width: 600px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }
}
